@{
    ViewData["Title"] = "about";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Oscar Peterson</title>
    <link rel="stylesheet" href="vendors/css/grid.css" />
    <link rel="stylesheet" href="vendors/css/normalize.css" />
    <link rel="stylesheet" href="resources/CSS/style.css" />
    <link rel="stylesheet" href="resources/CSS/queries.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />
</head>
<body>
    <header class="hero-page">
        <nav class="sticky">
            <div class="row">
                <ul class="main-nav">
                   <li><a asp-area="" asp-controller="Home" asp-action="Index" >Home</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="Index" >News</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="Index" >Discography</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="Index" >tour dates</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="video" >video</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="about" >about</a></li>
                   <li><a asp-area="" asp-controller="Home" asp-action="contact" >contact</a></li>
                </ul>

                <ul class="social-nav">
                    <li>
                        <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-spotify spotify"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>Oscar Peterson</h1><br>
            <h3>JAZZ PIANIST & COMPOSER</h3>


        </div>
    </header>
    <section class="about">
        <div class="row">
            <div class="col span-2of-2">
                <h2 class="heading-page heading-about">
                    About
                </h2>
                <hr class="hr-about">
                <h4>Oscar Peterson</h4>
                <p>A select member of jazz’s piano pantheon, Fred Hersch is a pervasively influential creative force who has shaped the music’s course over more than three decades as an improviser, composer, educator, bandleader, collaborator and recording artist. He has been proclaimed “the most arrestingly innovative pianist in jazz over the last decade” by <em>Vanity Fair</em>, “an elegant force of musical invention” by <em>The L.A. Times</em>, and “a living legend” by<em>The New Yorker</em>.</p>
                <p>A fifteen-time Grammy nominee, Hersch has regularly garnered jazz’s most prestigious awards, including recent distinctions as a 2016 Doris Duke Artist, 2016 and 2018 Jazz Pianist of the Year from the Jazz Journalists Association, and the 2017 Prix Honorem de Jazz from L’Acádemie Charles Cros for the totality of his career.</p>
                <p>If good things happen slowly, as the title of Hersch’s 2017 memoir attests, such good fortune has nonetheless accrued to the point where the pianist can enjoy the accolades and adulation of peers, critics and audiences alike. He has long set the standard for expressive interpretation and inventive creativity in a stunning variety of settings, whether through his exquisite solo performances, as the leader of one of jazz’s era-defining trios, or in eloquent dialogue with his deeply attuned duo partners.</p>
                <p>With more than three-dozen albums to his credit as a leader or co-leader, Hersch consistently receives lavish critical praise and numerous international awards for each highly anticipated new release. His latest album with his long-standing trio, 2018’s <em>Live In Europe</em>(Palmetto), documents one remarkable evening in Brussels and has been hailed as its best to date – considerable praise for an ensemble that consistently plays at such a staggeringly high level.</p>
                <p>The trio, in which Hersch has been joined by bassist John Hébert and drummer Eric McPherson for the last decade, was voted the #2 Jazz Group in the 2018 <em>DownBeat </em>Critics Poll, recognizing its unique ability to traverse a wide range of styles and approaches while maintaining profound depths of emotion and the exhilarating spark of invention. Its previous two Palmetto releases, 2016’s <em>Sunday Night at the Vanguard</em>and 2014’s <em>Floating, </em>were both nominated for Grammy Awards in the categories of Best Jazz Solo and Best Jazz Album.</p>
            </div>

        </div>

    </section>
    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <div class="footer-left">
                    <a href="#">
                        <i class="fab fa-facebook-f facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-spotify spotify"></i>
                    </a>
                    <p class="copyright">2021 Oscar Peterson All right Reserved</p>
                </div>
            </div>
            <div class="col span-1-of-2">
                <a href="#" class="footer-right"><i class="fas fa-arrow-circle-up"></i></a>
            </div>
        </div>
    </footer>


</body>
</html>